.step-item {
  @apply flex flex-col items-center gap-1 w-full relative xl:flex-row xl:gap-4;
}

.step-item:not(:first-child):before {
  @apply content-[""] absolute w-full -z-50 h-[1px] right-2/4 top-[30%] -translate-y-2/4 xl:w-[2px] xl:h-[50px] xl:-top-5 xl:left-5 xl:-translate-x-1/2;
  background-color: rgba(0, 0, 0, 0.2);
}

.step {
  @apply w-10 h-10 text-[12px] font-semibold leading-normal rounded-full flex justify-center items-center xl:text-xl;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.4);
  background-color: #F2F3EE;
}

.active .step {
  background-color: #008000;
  color: #fff;
}

.complete .step {
  background-color: #008000;
  color: #fff;
}

.step-item > p {
  color: rgba(0, 0, 0, 0.4);
}

.complete p {
  color: #008000;
}

.complete:not(:first-child):before,
.active:not(:first-child):before {
  background-color: #008000;
}
