.select-container {
  position: relative;
  width: 100%;
  font-family: Arial, sans-serif;
  cursor: pointer;
}

.select-display {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-family: "poppins";
}

.custom-arrow {
  font-size: 0.9rem;
  color: #555;
  position: absolute;
  right: 20px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
  font-size: 12px;
  font-family: "poppins";
}

.dropdown-menu div {
  padding: 10px;
  cursor: pointer;
}

.dropdown-menu div:hover {
  background-color: #f0f0f0;
}

.placeholder-clr {
  color: rgba(0, 0, 0, 0.2);
}

.loading {
  margin: 0 auto;
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-top: 1px solid #4195f1;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.option-bg:hover,
.option-bg:focus {
  background-color: rgba(129, 125, 125, 0.1);
}

/* input[type="date"]::-webkit-datetime-edit {
  color: rgba(0, 0, 0, 0.5); 
} */

/* Default placeholder color */
input[type="date"] {
  color: rgba(0, 0, 0, 0.5); /* Placeholder color */
}

/* Change color when a date is entered */
input[type="date"].date-selected {
  color: #000; /* Color after selecting a date */
}
