@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pr-text-clr: #4195f1;
  --pr-bg-clr: #4195f1;
  --sec-bg-clr: #f5f5f5;
  --user-bg-clr: #f2f3ee;
  --user-avatar: #00b9cb;
  --hover-clr: #00b9cb;
}

@layer base {
  body {
    font-family: "Poppins", "sans-serif";
  }
}

@layer components {
  .line-with-text {
    @apply flex items-center;
  }

  .line-with-text:before {
    content: "";
    @apply flex-grow border-t border-gray-300 mr-4;
  }

  .line-with-text:after {
    content: "";
    @apply flex-grow border-t border-gray-300 ml-4;
  }
}

@layer utilities {
  .pr-text-clr {
    color: var(--pr-text-clr);
  }
  .pr-bg-clr {
    background-color: var(--pr-bg-clr);
  }
  .sec-bg-clr {
    background: var(--sec-bg-clr);
  }

  .user-bg-clr {
    background-color: var(--user-bg-clr);
  }

  .user-email-clr {
    color: rgba(0, 0, 0, 0.5);
  }
  .user-avatar {
    background-color: #00b9cb;
  }

  .overflow-banner {
    background-color: #c4ddfc;
  }

  .hover-clr {
    color: var(--hover-clr);
  }

  .grey-text {
    color: rgba(0, 0, 0, 0.4);
  }

  .overview-expense-bg {
    background-color: #f7f7f7;
  }

  .overview-text {
    color: #000000b3;
  }

  .icon {
    fill: red;
  }

  .border-clr {
    border: 1px solid #4195f1;
  }

  .stepper-clr {
    color: #0000004d;
  }

  option:disabled {
    color: #00000033;
  }

  .image-wrapper {
    position: relative;
  }
}
